.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}
.btn-file {
    position: relative;
    overflow: hidden;
    height: 85px;
    width: 85px;
    font-size: 50px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
